@import "./variables.module.scss";
@import "./mixins.module.scss";

.todoItem {
  @include flex-center(row, space-between);
  @include border-radius($border-radius-8);
  border: 1px dashed $contrast-color-main;
  padding: $spacing-16;
  margin-bottom: $spacing-12;
  @include transition(background-color 0.2s);

  &:hover {
    background-color: $background-color-secondary;
    border: 1px solid $background-color-secondary;
  }
}

.left,
.right {
  display: flex;
  align-items: center;
}

.description {
  margin: 0 $spacing-16;
  color: $primary-color;
  font-weight: $font-weight-400;
  line-height: 19.36px;
  letter-spacing: $letter-spacing-0;
  font-size: $font-size-16;
  word-break: break-all;
}

.completed .description {
  text-decoration: line-through;
  color: $secondary-color;
}

.deleteButton {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
