@import "./variables.module.scss";

.todolistContainer {
  height: auto;
  max-height: 450px;
  overflow-y: auto;
  border: 1px solid $contrast-color-light;
  border-radius: $border-radius-16;
  padding: $spacing-32;
  margin-top: $spacing-32;
  box-shadow: $box-shadow-2;

  @media (max-width: 880px) {
    margin: $spacing-24 $spacing-24 0px $spacing-24;
    max-width: 880px;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $contrast-color-main;
    border-radius: $border-radius-4;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: darken($contrast-color-main, 10%);
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.todoTitles {
  font-size: $font-size-16;
  font-weight: $font-weight-400;
  text-align: center;
  line-height: 19.36px;
  letter-spacing: $letter-spacing-0;
  color: $secondary-color;
}
