$primary-color: #000;
$secondary-color: #0000008A;
$background-color: #fff;
$error-color: #ff0000;
$success-color: #008000;
$warning-color: #ffa500;
$info-color: #0000ff;
$disabled-color: #d7dde9;
$contrast-color-main: #D7DDE9;
$contrast-color-light: #EAECF0
