$primary-color: #000;
$secondary-color: #0000008a;
$background-color-secondary: #f7f9fd;
$background-color-light: #fff;
$background-color-dark: #000;
$background-color-overlay: #ffffffcc;
$button-color-secondary: #e7eefb;
$error-color: #ff0000;
$success-color: #008000;
$warning-color: #ffa500;
$info-color: #0000ff;
$contrast-color-main: #d7dde9;
$contrast-color-light: #eaecf0;
$font-size-16: 1rem;
$font-size-24: 1.5rem;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$letter-spacing-0: -0.02em;
$line-height-24: 24px;
$box-shadow-1: 0px 24px 48px -12px #1018282e;
$box-shadow-2: 0px 1px 2px 0px #1018280d;
$border-input-focus: #e0e9fb;
$border-radius-4: 4px;
$border-radius-8: 8px;
$border-radius-16: 16px;
$gap-16: 16px;
$spacing-10: 0.625rem;
$spacing-12: 0.75rem;
$spacing-14: 0.875rem;
$spacing-16: 1rem;
$spacing-18: 1.125rem;
$spacing-24: 1.5rem;
$spacing-32: 2rem;
$spacing-48: 3rem;

:export {
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  backgroundColorSecondary: $background-color-secondary;
  backgroundColorLight: $background-color-light;
  backgroundColorDark: $background-color-dark;
  backgroundColorOverlay: $background-color-overlay;
  buttonColorSecondary: $button-color-secondary;
  errorColor: $error-color;
  successColor: $success-color;
  warningColor: $warning-color;
  infoColor: $info-color;
  contrastColorMain: $contrast-color-main;
  contrastColorLight: $contrast-color-light;
  fontSize16: $font-size-16;
  fontSize24: $font-size-24;
  fontWeight400: $font-weight-400;
  fontWeight500: $font-weight-500;
  fontWeight600: $font-weight-600;
  letterSpacing0: $letter-spacing-0;
  lineHeight24: $line-height-24;
  boxShadow1: $box-shadow-1;
  boxShadow2: $box-shadow-2;
  borderInputFocus: $border-input-focus;
  borderRadius4: $border-radius-4;
  borderRadius8: $border-radius-8;
  borderRadius16: $border-radius-16;
  gap16: $gap-16;
  spacing10: $spacing-10;
  spacing12: $spacing-12;
  spacing14: $spacing-14;
  spacing16: $spacing-16;
  spacing18: $spacing-18;
  spacing24: $spacing-24;
  spacing32: $spacing-32;
  spacing48: $spacing-48;
}
